.Pagination {
	grid-column: 1 / -1;
}

.Pagination-List {
	display: block flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	margin: 0;
	padding: 2.25em 0;
	list-style: none;
}

.Pagination-Link {
	z-index: 1;
	display: block flex;
}
