
{%- from "../Picture/index.njk" import Picture with context -%}

{%- macro Hero(classes) -%}
	<div class="{{ classes }} Hero">
		{{ Picture("hero", {"class": "Hero-Image"}) }}
		<div class="Hero-Text Page-Centerer">
			{{ caller() }}
		</div>
	</div>
{%- endmacro -%}
