.Subscribe {
	grid-column: 1 / -1;
	display: block grid;
	grid-template-areas:
		"indent-left  title  indent-right"
		"indent-left  form   indent-right";
	row-gap: 1.75em;
	padding: 2.25em 1.75em;
	border-radius: 1em;
	background: var(--ColorUI-BG_is-secondary);
	color: var(--Color-Text);
	container: subscribe / inline-size;
	padding-inline: calc(1.75em * clamp(0, var(--Layout-Column_count) - 1, 1));

	@container root (inline-size < 48em) {
		box-shadow:
			50vi 0 0 0 var(--ColorUI-BG_is-secondary),
			-50vi 0 0 0 var(--ColorUI-BG_is-secondary);
	}
}

.Subscribe-Title {
	grid-area: title;
	margin-block: 0;
	font-family: var(--FontAccent-Family);
	font-weight: 500;
	font-size: 1.5em;
	color: var(--ColorUI-Text_is-secondary);
	text-align: center;

	@container subscribe (inline-size >= 40.25em) {
		text-align: start;
	}
}

.Subscribe-Form {
	grid-area: form;
	display: block grid;
	gap: 1lh;

	@container subscribe (inline-size >= 40.25em) {
		grid-template-columns: 1fr auto;
	}
}

.Subscribe-Input {
	box-sizing: border-box;
	display: block flow-root;
	padding: 0.5lh 1.875em;
	inline-size: 100%;
	max-inline-size: 100%;
	border: none;
	border-radius: 1lh;
	font: inherit;
	color: var(--ColorUI-Text_is-secondary);
	background: var(--ColorUI-FieldBG);

	&:hover {
		@media (hover: hover) {
			background: var(--ColorUI-FieldBG_is-secondary);
		}
	}

	&::placeholder {
		color: currentcolor;
		opacity: 0.4;
	}
}

.Subscribe-Button {
	margin: 0;
	max-inline-size: 100%;
}
