.Navigation {
	position: relative;
	display: block flex;
}

.Navigation-Title {
	position: absolute;
	scale: 0;
}

.Navigation-Button {
	display: block flex;
	align-items: center;
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;
	color: var(--ColorUI-Text);
	background: var(--ColorUI-BG_is-secondary);
	transition: color var(--motion-duration, 0.2s);

	@media (--not-small) {
		display: none;
	}

	&[hidden] {
		display: none;
	}

	&:hover {
		@media (hover: hover) {
			color: var(--ColorUI-Accent);
		}
	}

	&:active {
		opacity: 0.7;
	}

	&[aria-expanded="false"] {
		--icon: var(--Icon_shape_burger);
	}

	&[aria-expanded="true"] {
		--icon: var(--Icon_shape_cross);
	}

	&::before {
		content: "";
		inline-size: 2em;
		aspect-ratio: 1;
		background: currentcolor;
		mask: var(--icon) no-repeat center / cover;
	}
}

.Navigation-ButtonText {
	position: absolute;
	scale: 0;
}

.Navigation-List {
	margin: 0;
	padding: 0;
	display: block flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: calc(var(--NavigationList-ColumnGap, 40px) - 1em);
	row-gap: 1em;
}

.Navigation-List_is-collapsible {
	@media (--only-small) {
		margin: 0.5em;
		flex-direction: column;
		inline-size: max-content;
		padding: 40px 30px;
		border-radius: 20px;
		background: var(--ColorUI-BG_is-secondary);
		transition:
			opacity var(--motion-duration, 0.3s),
			visibility var(--motion-duration, 0.3s);
		box-shadow:
			4px 8px 40px 0
			color-mix(
				in srgb,
				var(--ColorUI-Shadow) 20%,
				transparent
			);
	}

	:not([hidden]) ~ & {
		@media (--only-small) {
			position: absolute;
			inset-block-start: 100%;
			inset-inline-end: -0.5em;
			z-index: 2;
		}
	}

	[aria-expanded="false"] ~ & {
		@media (--only-small) {
			visibility: collapse;
			opacity: 0;
		}
	}
}

.Navigation-Item {
	--Text-Align: end;
	margin-block: -0.25em;

	&::marker {
		color: transparent;
	}
}
