{%- from "../Link/index.njk" import Link with context -%}

{%- macro Navigation(classes, links) -%}
	{% set isCollapsible = links === topNavLinks %}
	{% set title = "Главная навигация" if links === mainNavLinks else "Верхняя навигация" %}
	<nav class="{{ classes }} Navigation">
		<h2 class="Navigation-Title">{{ title }}</h2>

		{% if isCollapsible %}
		<button
			class="Navigation-Button Button"
			type="button"
			aria-controls="Navigation-List"
			hidden
		>
			<span class="Navigation-ButtonText">Toggle navigation list</span>
		</button>
		{% endif %}

		<ul class="Navigation-List {{ "Navigation-List_is-collapsible" if isCollapsible }}" id="Navigation-List">
			{% for link in links %}
				<li class="Navigation-Item">
					{% call Link("Navigation-Link", link) %}
						{{ link.text }}
					{% endcall %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{%- endmacro -%}
