.Navigation {
	position: relative;
}

.Navigation-Title {
	position: absolute;
	scale: 0;
}

.Navigation-Button {
	display: block flex;
	align-items: center;
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;
	color: var(--ColorUI-Text);
	background: var(--ColorUI-BG_is-secondary);

	@media (--not-small) {
		display: none;
	}

	&[hidden] {
		display: none;
	}

	&:hover {
		@media (hover: hover) {
			color: var(--ColorUI-Accent);
		}
	}

	&:active {
		opacity: 0.7;
	}

	&[aria-expanded="false"] {
		--icon: var(--Icon_shape_burger);
	}

	&[aria-expanded="true"] {
		--icon: var(--Icon_shape_cross);
	}

	&::before {
		content: "";
		inline-size: 2em;
		aspect-ratio: 1;
		background: currentcolor;
		mask: var(--icon) no-repeat center / cover;
	}
}

.Navigation-ButtonText {
	position: absolute;
	scale: 0;
}

.Navigation-List {
	margin: 0;
	padding: 0;
	display: block flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: calc(var(--NavigationList-ColumnGap, 40px) - 1em);
	row-gap: 1em;
}

.Navigation-List_is-collapsible {
	@media (--only-small) {
		margin: 0.5em;
		flex-direction: column;
		inline-size: max-content;
		padding: 40px 30px;
		border-radius: 20px;
		background: var(--ColorUI-BG_is-secondary);
		box-shadow: var(--ShadowUI);
	}

	:not([hidden]) ~ & {
		@media (--only-small) {
			position: absolute;
			inset-inline-end: -0.5em;
			z-index: 2;
		}
	}

	[aria-expanded="false"] ~ & {
		@media (--only-small) {
			display: none;
		}
	}
}

.Navigation-Item {
	margin-block: -0.25em;

	&::marker {
		color: transparent;
	}
}

.Navigation-Link {
	display: block flex;
	gap: 0.5em;
	align-items: center;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	font-family: var(--FontMain-Family);
	font-size: 1rem;
	color: var(--ColorUI-Text);
	text-decoration: none;

	&[aria-current="page"] {
		text-decoration: underline;
		text-underline-offset: 0.2em;
		color: var(--ColorUI-Brand);
	}

	&[href^="tel:"] {
		--Link_has-icon: "";
		--Icon: var(--Icon_shape_phone);

		color: var(--ColorUI-Brand);
	}

	&:hover {
		color: var(--ColorUI-Accent);
	}

	&::before {
		content: var(--Link_has-icon, none);
		display: block flow-root;
		block-size: 16px;
		aspect-ratio: 1;
		background: currentcolor;
		mask: var(--Icon) no-repeat center / cover;
	}
}
