{%- macro Navigation(classes, links) -%}
	{% set isCollapsible = links === topNavLinks %}
	{% set title = "Главная навигация" if links === mainNavLinks else "Верхняя навигация" %}
	<nav class="{{ classes }} Navigation">
		<h2 class="Navigation-Title">{{ title }}</h2>

		{% if isCollapsible %}
		<button
			class="Navigation-Button Button"
			type="button"
			aria-controls="Navigation-List"
			hidden
		>
			<span class="Navigation-ButtonText">Toggle navigation list</span>
		</button>
		{% endif %}

		<ul class="Navigation-List {{ "Navigation-List_is-collapsible" if isCollapsible }}" id="Navigation-List">
			{% for link in links %}
				{%- set linkUrl = project.root ~ link.rootUrl -%}
				<li class="Navigation-Item">
					<a
						class="Navigation-Link"
						href="{{ linkUrl }}"
						{{ "aria-current=page" if linkUrl === page.link -}}
					>{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{%- endmacro -%}
