.PopularPostPreview {
	display: block grid;
	grid-template-rows: 1fr;
	gap: 20px;
	padding: 0;
}

.PopularPostPreview-Title {
	margin-block: 0;
	font-family: var(--FontAccent-Family);
	font-weight: 400;
	font-size: 18px;

	a {
		display: block flow-root;
		border-radius: 0.25em;
		text-decoration: none;
		color: var(--ColorUI-Text_is-in-post, var(--ColorUI-Text_is-secondary));

		&:hover {
			@media (hover: hover) {
				color: var(--ColorUI-Accent);
			}
		}

		&:active {
			opacity: 0.7;
		}
	}
}

.PopularPostPreview-Date {
	margin: 0;
	font-size: 16px;
	color: color-mix(in srgb, var(--ColorUI-Text_is-secondary) 40%, transparent);
}
