{% from "../Link/index.njk" import Link with context %}

{%- macro PopularPostPreview(classes, post) -%}
	<article class="PopularPostPreview">
		<h3 class="PopularPostPreview-Title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h3>
		<div class="PopularPostPreview-Date">{{ post.published }}</div>
	</article>
{%- endmacro -%}
