{% from "../Link/index.njk" import Link with context %}

{%- macro PopularPostPreview(classes, post) -%}
	<article class="PopularPostPreview">
		<h3 class="PopularPostPreview-Title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h3>
		<time class="PopularPostPreview-Date" datetime="{{ post.published }}">{{ post.published }}</time>
	</article>
{%- endmacro -%}
