{% extends "./layouts/Base.njk" %}

{%- from "./components/Link/index.njk" import Link with context -%}

{% set page = {
	title: "404",
	description: "Страница не найдена",
	link: project.root ~ "/404.html"
} %}

{% block Content %}
	<div class="Page-Centerer ErrorInfo">
		<h1>Что-то пошло не так…</h1>
		{% call Link("Navigation-Link", {
			rootUrl: "/",
			iconShape: "arrow-left",
			isButton: true
		}) %}
			Вернуться назад
		{% endcall %}
	</div>
{% endblock Content %}
