{% extends "./layouts/Base.njk" %}

{% from "./components/Hero/index.njk" import Hero with context %}
{% from "./components/PostList/index.njk" import PostList with context %}
{% from "./components/Sidebar/index.njk" import Sidebar with context %}
{% from "./components/PopularPostList/index.njk" import PopularPostList with context %}
{% from "./components/Subscribe/index.njk" import Subscribe with context %}

{% set page = {
	title: "Главная страница",
	link: project.root ~ "/"
} %}

{% block Content %}

	<h1 class="VisuallyHidden">{{ page.title }}</h1>

	{% call Hero("Page-Hero") %}{% endcall %}

	<div class="Page-Centerer Page-Layout">
	{% call PostList("Page-PostList") %}{% endcall %}

	{% call Sidebar("Page-Sidebar") %}
		{{ PopularPostList("Page-PopularPostList") }}
		{{ Subscribe("Page-Subscribe") }}
	{% endcall %}
	</div>

{% endblock Content %}
