.Header {
	padding-block: 0.25em;
	background: var(--ColorUI-BG_is-secondary);
}

.Header-Container {
	margin-inline: -0.5em;
	display: block flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.25em;
}
