.Sidebar {
	--mod3: mod(var(--Layout-Column_count), 3);
	grid-column: span calc(var(--mod3) + (1 - var(--mod3)) * (2 - var(--mod3)) * (1.5 - var(--mod3)));
	display: block grid;
	grid-template-columns: subgrid;
	align-content: start;
	gap: 3.75em;

	@container root (inline-size >= 80em) {
		gap: 2.25em;
	}
}
