.Footer {
	background: oklch(from var(--ColorUI-Brand) l c h / 0.05);

	@media (--not-small) {
		box-sizing: border-box;
	}
}

.Footer-Container {
	display: block grid;
	justify-items: center;
	gap: 32px;
	padding-block: 32px;
}

.Footer-Navigation {
	--NavigationList-ColumnGap: 80px;
}

.Footer-Copyright {
	margin-block: 32px 8px;
}
