.Footer {
	background: oklch(from var(--ColorUI-Brand) l c h / 0.05);

	@container root (inline-size >= 48em) {
		box-sizing: border-box;
	}
}

.Footer-Container {
	display: block grid;
	justify-items: center;
	gap: 2em;
	padding-block: 2em;
}

.Footer-Navigation {
	--NavigationList-ColumnGap: 5em;
}

.Footer-Copyright {
	margin-block: 2em 0.5em;
}
