@property --Breakpoint_range_min {
	syntax: "<length>";
	inherits: false;
	initial-value: 320px;
}

@property --Breakpoint_range_max {
	syntax: "<length>";
	inherits: false;
	initial-value: 1024px;
}

@property --Content-Area_max {
	syntax: "<length>";
	inherits: false;
	initial-value: 1400px;
}

@property --Content-Area_range_min {
	syntax: "<length>";
	inherits: false;
	initial-value: 280px;
}

@property --Content-Area_range_max {
	syntax: "<length>";
	inherits: false;
	initial-value: 940px;
}

@property --Content-Area_inline_size {
	syntax: "<length>";
	inherits: true;
	initial-value: 280px;
}

@property --Viewport_inline-size {
	syntax: "<length>";
	inherits: false;
	initial-value: 100vi;
}

.Page {
	margin: initial;
	min-block-size: 100svb;
	display: block grid;
	grid-template-rows: auto 1fr;
}

.Page-Centerer {
	--Content-Area_inline-size:
		min(
			var(--Content-Area_max),
			var(--Content-Area_range_min)
			+
			(var(--Viewport_inline-size) - var(--Breakpoint_range_min))
			*
			tan(atan2((var(--Content-Area_range_max) - var(--Content-Area_range_min)), 1px))
			/
			tan(atan2((var(--Breakpoint_range_max) - var(--Breakpoint_range_min)), 1px))
		);
	margin-inline: auto;
	inline-size: var(--Content-Area_inline-size);
}

.Page-Header {
	display: block grid;
}

.Page-Footer {
	display: block grid;
}

.Page-Content {
	display: block grid;
	align-self: start;
	align-content: start;
}
