@property --Icon_shape_arrow-left {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./arrow-left.svg");
}

@property --Icon_shape_arrow-right {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./arrow-right.svg");
}

@property --Icon_shape_burger {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./burger.svg");
}

@property --Icon_shape_cross {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./cross.svg");
}

@property --Icon_shape_phone {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./phone.svg");
}
