{%- macro Link(classes, link) -%}
	{% set style = "--Icon: var(--Icon_shape_" ~ link.iconShape ~ ");" if link.iconShape %}
	<a
		class="
			{{- classes }}
			Link
			{{ "Link_has-icon" if link.iconShape }}
			{{ "Link_is-text-leading" if link.isTextLeading }}
			{{ "Link_is-button" if link.isButton -}}
		"
		{% if not link.rootUrl === false %}
			{%- set linkUrl = project.root ~ link.rootUrl if link.rootUrl[0] === "/" else link.rootUrl -%}
			href="{{ linkUrl }}"
			{{ "aria-current=page" if link.isCurrentPage or linkUrl === page.link -}}
		{% endif %}
		style="{{ style }}"
	>{{ caller() }}</a>
{%- endmacro -%}
